*{ 
  margin: 0;
  padding: 0;
}
html{
    width: 100%;
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    line-height: 25px;
}
.btn-product{
    border: none;
    font-size: 20px;
    font-family: 'Festive', cursive;
    font-family: 'Zen Antique Soft', serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: bolder;
}
.text-card{
    text-align: center;
    font-size: 23px;
    height: 50px;
    border-bottom: 1px solid;
    width: 70%;
    margin-left: 20px;
}
.dis-flex{
    display: flex;
}
.f-family-service{
    font-family: 'Festive', cursive;
    font-family: 'Zen Antique Soft', serif;
}

.a-style{
    text-decoration: none;
    color: blue;
}
.mt-product{
    margin-top: 60px;
}
.cart-empty{
    float: right;
     margin-right: 10px;
     text-align: center;
     color: rgb(228, 54, 10);
}

.cart-empty i{
    cursor: pointer;
    padding-top: 5px;
}

.icon-nav{
    margin-right: 5px;
}

.color-footer{
    color: green;
}
.text-heading{
     color: black;
     text-align: center;
    margin-top: 60px;
    font-size: 88px;
    font-style: italic;
    font-family: 'Festive', cursive;
}

.menu{
    background-color: #f6e58d;
    height: 45.6px;
    line-height: 46px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.menu ul>li{
    list-style: none;
   list-style: none;
    font-size: 20px;
    width: 120px;
    text-align: center;
    float: left;
    position: relative;
}
.menu li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.menu li:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
       color: black;
}

.submenu{
    position: absolute;
    display: none;
    background: #535c68;
    left: 39px;
}

.menu ul li:hover > .submenu{
    display: block;
    color: blue;
}

.banner-container{
    max-width: 1475,2px;
    position: relative;
    margin: auto;
}

.banner-slideshow{
    display: none;
}

.content{
    margin-top: 30px;
    width: 100%;
     height: 100%;
}

.listproducts{
    margin: 15px;
    overflow: hidden;
}
 
.listproductskid{
    margin: 15px;
    overflow: hidden;
}
.header-products{
    font-size: 20px;
    height: 40px;
    background-color: #ff793f;
    line-height: 40px;
    padding-left: 20px;
}

.productone{
    text-align: center;
    background: aliceblue;
    float: left;
    margin-left: 50px;
    position: relative;
    width: 308px;
    height: 308px;
}

.image-hover{
  width: 308px;
  border-radius: 17px;
}

.image-hover:hover{
    cursor: pointer;
}

.details-hover{
     background-color: white;
     width: 100%;
     bottom: 0;	
	opacity: 1; 
    position: absolute;
}
.image-hover:hover+.details-hover{
    -webkit-transition: .7s ease-in-out;
    transition: .9s ease;
	opacity: 0;
} 
.name{
    font-size: 20px;
    text-align: left;
    margin-bottom: 0;
}

.name:hover{
    cursor: pointer;
    color:blue ;
}
.prices{
    font-size: 20px;
    text-align: left;
    color: red;
}

#btn-buy{
    width: 50%;
    height: 37px;
    background-color: #ffb142;
    line-height: 37px;
    float: right;
}
#btn-buy:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
}
#btn-seen{
    width: 50%;
    height: 37px;
    background-color: #ff5252;
    line-height: 37px;
    color: rgb(255, 255, 255);
}

#btn-seen:hover{
    cursor: pointer;
    color: black;
}

.service{
    background-color: #efefef;
    margin-top: 50px;
    position: relative;
    height: 620px;
}

#form-service{
    width: 540px;
    background-color: azure;
    margin-left: 36px;
    padding-top: 30px;
    height: 100%;
    margin-bottom: 15px;
    padding-left: 20px;
}
.text-contentservice{
    text-align: center;
    font-size: 27px;
    font-weight: 100;
    margin-bottom: 20px;
}

.content-form div{
   height: 70px;
   font-family: 'Festive', cursive;
   font-family: 'Zen Antique Soft', serif;
   font-family: 'Zen Kaku Gothic Antique', sans-serif;
   font-size: 20px;
}
.note{
    opacity: 0.4;
    font-style: italic;
    width: 128px;
    margin-top: -18px;
}

.note-eror{
    opacity: 0.4;
    font-style: italic;
    width: 96px;
    margin-top: -15px;
}
.note-checkbox{
    opacity: 0.4;
    font-style: italic;
    margin-top: -7px;
    letter-spacing: -2px;
}
#border-input {
    margin-left: 61px;
    height: 37px;
    width: 300px;
    outline: antiquewhite;
    border: 1px #efefef solid;
    border-radius: 5px;
}
#select-one{
    margin-left: 30px;
    height: 36px;
    outline: none;
    width: 300px;
    border-radius: 5px;
    font-family: 'Festive', cursive;
    font-family: 'Zen Antique Soft', serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
#select-one option:checked{
    color: brown;
}
#send-price{
    margin: 30px 221px;
    width: 98px;
    height: 28px;
    background-color: black;
    color: white;
    border: none;
    font-size: 17px;
}
#send-price:hover{
    background-color: gray;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}
.content-form i{
   position: absolute;
    left: 440px;
    margin-top: 11px;

}

.service-note{
   width: 500px;
   position: absolute;
   top: 53px;
   right: 69px;
}
.text-headingservice{
   font-size: 25px;
   font-family: Open Sans,sans-serif;
   font-weight: 400;
   margin: 0;
}
.service-note ul li{
     font-style: italic;
     font-size: 23px;
     margin-top: 10px;
}

.btn-service{
    text-align: center;
    margin-top: 28px;
}

#btn-call{
    width: 105px;
    height: 39px;
    border: none;
    background: green;
    color: white;
    font-size: 15px;
    border-radius: 9px;
    font-weight: 500;
    letter-spacing: 1px;
}

#btn-chat{
    margin-top: 15px;
    width: 126px;
    height: 39px;
    border: none;
    background: green;
    color: white;
    font-size: 15px;
    border-radius: 9px;
    font-weight: 500;
    letter-spacing: 2px;
}

#btn-chat:hover, #btn-call:hover{
    opacity: 0.7;
    cursor: pointer;
}

.introduce{
    width: 1110px;
    display: flex;
    padding-top: 40px;
    margin-left: 143px;
}

.heading-introduce{
    font-size: 30px;
    font-weight: 400;
}

.content-introduce{
    margin-top: 48px;
    font-size: 19px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
    line-height: 40px;
}

.footer{
    width: 100%;
    background-color:#96a4b1;
     height: 100%;
    margin-top: 30px;
}

.navigation ul li{
    list-style: none;
    display: inline-block;
    color: yellowgreen;
    margin-left: 87px;
    font-size: 17px;
}

.contact{
   display: flex;
   margin-top: 25px;
}

.addres{
  width: 645px;
  margin-left: 50px;
}

h3{
    color: rgb(21,136,8);
    font-size: 24px;
}

.content-address{
    line-height: 30px;
   color: yellow;
}

.customer{
    margin-left: 20px;
}
.customer p{
   line-height: 30px;
   font-size: 19px;
   color: black;
}

.customer > p:hover{
    color: yellowgreen;
    cursor: pointer;
}
.icon-follow{
    margin-top: 13px;
}

.fa{
    padding: 20px;
    font-size: 16px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 7px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fab{
    font-size: 22px;
    width: 13px;
    text-decoration: none;
    margin: 7px 2px;
    margin-right: 10px;
}
.fab:hover {
    opacity: 0.6;
    cursor: pointer;
}
.fa-facebook{
    color: blue;
}
.fa-twitter{
    color: #1c6cce;
}
.fa-google{
    color: red;
}
.fa-snapchat-ghost{
    color: yellow;
}
.fa-skype{
    color: rgb(13, 109, 219);
}
.fa-dribbble{
    color: crimson;
}
.mt-textinput{
    margin-top: 7px;
}
.noctice-error{
   color: red;
   font-family: monospace;
   font-size: 15px;
   font-style: italic;
}
.checkout{
    background: #7eafc1;
    top: 44px;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background: #7eafc1;
    background-image: linear-gradient( 90deg, #fff7fb, #efe7f2, #dbd8ea, #bfc9e2, #98b9d9, #6aa8cf, #4096c0, #1987a0, #047877, #016353, #016353);
    display: none;
    align-items: center;
    justify-content: center;
}
.container{
    animation: checkoutFadein ease 0.9s;
}

.open{
    display: block;
}
.checkout-close{
    position: absolute;
    right: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
.checkout-close:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
@keyframes checkoutFadein{
   form{
       transform: translateX(-1467px);
       opacity: 0;
   } to {
       transform: translateX(0px);
       opacity: 1;
   }
}
.form-checkout{
     display: flex;
     justify-content: center;
     padding-top: 30px;
}
.right-checkout{
  display: flex;
  background-color: #b7afaf;
  width: 861px;
  padding-left: 30px;
}
.text-checkout{
    font-size: 23px;
    font-weight: 500;
    line-height: 54px;
}
.right-checkout label{
    font-size: 18px;
    font-family: monospace;
}
.right-checkout label i{
   letter-spacing: 4px;
}

.input-checkout{
    width: 300px;
    height: 40px;
    border: 1px gray;
    outline: none;
    border-radius: 5px;
}
.payment{
    margin-left: 85px;
}

#send-checkout{
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border-radius: 5px;
    font-family: cursive;
    cursor: pointer;
    border: none;
    line-height: 30px;
}
#send-checkout:hover{
    border-bottom:3px solid;
    border-right: 3px solid;
    opacity: 0.8;
}
#send-checkout:active{
    border-left: 3px solid rgb(0, 174, 255);
    border-top: 3px solid rgb(0, 174, 255);
    border-bottom: none;
    border-right:none ;
 }

.fa-cc-visa:before{
    color: blue;
}
.fa-cc-stripe::before{
    color: red;
}
.fa-paypal{
    color: rgb(32, 145, 238);
}
.fa-cc-amex::before{
    color: black;
}
.left-checkout{
    width: 400px;
    background-color: #b7afaf;
    margin-left: 30px;
    height: 400px;
}
.left-checkout h4{
    font-size: 23px;
    line-height: 54px;
    margin-left: 26px;
}
#name-product{
    margin-top: 22px;
    border: none;
    background: white;
    border-bottom: 1px solid;
    width: 100%;
    color: #90210f;
}
#price-product{
    color: blue;
    margin-top: 22px;
    border: none;
    background-color: white;
    border-bottom: 1px solid black;
    width: 100%;
}
