body{
   width: 100vw;
}
*{
    margin: 0;
    padding:0;
}
.header{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: right;
}
.giohang{
    padding-right: 30px;
    color: red;
    padding-top: 5px;
    cursor: pointer;
}
.logo{
       font-size: 50px;
       text-align: center;
       font-weight: 50px;
       margin-top: 20px;
       font-family: 'Playfair Display', serif;
       text-shadow: rosybrown;
}
.menu{
    position: relative;
}
.control{
   width: 70%;
   background-color: white;
   height: 40px;
}
.control ul li{
    display: inline-block;
    padding-left: 30px;
    margin-left: 40px;
    padding-top: 10px;
    cursor: pointer;
}
.search{
    width: 30%;
    background-color:white;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 10px;
}
.search input{
    width: 200px;
    height: 40px;
    margin-left: 40px;
    padding-right: 100px;
    border: 0 solid white;
    background-color: white;
    color: rgb(173, 173, 96);
}
.btn{
    float: right;
    padding-right: 150px;
    padding-top: 10px;
    cursor: pointer;
}
.control ul li:hover{
     color: rgb(221, 43, 12);
}
.banner{
    margin-top: 30px;
   
}
.product_extra{
    margin-left: 56px;
    margin-top: 30px;
    height: 254px;
    width: 1477px;
}
.product_a{
    float: left;
    padding-left: 83px;
    display: block;
}
.product_main{
    height: 650px;
    width: 1220px;
    padding-top: 35px;
    padding-left: 82px;
}
.description{
      padding-top: 10px;
      padding-left: 10px;
}
#text{
    color: yellowgreen;
    font-family: 'Playfair Display';
}
#test{
    color: red;
}
.price{
   padding-top: 8px;
   cursor: pointer;
}
.price p{
    padding-left: 32px;
    color: #55E6C1;
    padding-top: 2px;
}
.container{
    float: left;
    margin-left: 99px;
    padding-left: -2px;
    padding-top: 43px;
}
.product_b{
    width: 179px;
    height: 303px;
    border: 1px solid #cab9b8;
    padding-left: 24px;
    padding-top: 10px;
    border-radius:10px;
}
.contact{
    background-color: #239199;
    padding-left: 20px;
    height: 100px;
    padding-top: 30px;
    margin-top: 100px;
    width: 100%;
    position: relative;
}
a{
    text-decoration: none;
    color: rgba(255, 56, 56,1.0);
    padding-left: 13px
}
.address{
   position: absolute;
   top: 0;
   right: 0;
   position: absolute;
   top: 0;
   right: 0;
   -webkit-user-modify: read-write-plaintext-only;
   padding-right: 96px;
   color: rgb(11, 12, 12);
   padding-top: 20px;
}
.info{
   width: 60%;
}
.product_b:hover{
    background-color: rgb(185, 185, 53);
    opacity: 0.9;
}
.me{
    width: 100vw;
    height: 49px;
    background-color: #975e11;
    color: wheat;
    text-align: center;
    padding-top: 27px;
    font-size: 27px;
    font-family: 'Source Sans Pro', sans-serif;
}
